---
---

@import "{{ site.theme }}";
h1 {color:black;}

a {
  color:#f53bd6;
  text-decoration:none;
}

a:hover, a:focus {
  color:#f53bd6;
  font-weight: none;
}

body {
  background-color: #fcf7dc;
  cursor: auto;
}
